<div class="row menu">
    <a href="{{ path('task_create') }}" class="btn btn-default">Créer une nouvelle tâche <i class="glyphicon glyphicon-plus"></i></a>
    <a href="{{ path('task_list') }}" class="btn btn-default">Consulter la liste des tâches à faire <i class="glyphicon glyphicon-list"></i></a>
    <a href="{{ path('finished_task_list') }}" class="btn btn-default">Consulter la liste des tâches terminées <i class="glyphicon glyphicon-list-alt"></i></a>
</div>