{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block header_title %}<h1>To Do List app - Erreur 403</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="content col-12">
            <h1 class="text-center">Accès interdit</h1>
            <p>Tu ne possèdes pas les droits pour accéder à ce contenu.</p>
        </div>
    </div>
{% endblock %}
